{#
    type: channel_message_preview
    senario: approved
    kws: user_status, message
#}
**{% if not user_status.is_veiled %}ناشناس{% else %}{{ user_status.veil }}{% endif %}**:

{{ message }}

وضعیت پیام: تاییدشده ✅