{#
    type: notification
    senario: you_have_an_answer
    kws: answer_message_id
#}
[
    [
        {
            "text": "👀",
            "data": "n,a,o,{{ answer_message_id }}"
        }
    ]
]