{#
    state: admin_home
    edge: main
    kws: no_pending_messages, no_reports
#}
به پنل مدیریت خوش آمدی!

تعداد پیام‌های بازبینی‌نشده: {{ no_pending_messages }}
تعداد گزارش‌های دیده‌نشده: {{ no_reports }}