{#
    type: channel_message_preview
    senario: approved
    kws: channel_message_id
#}
[
    [
        {
            "text": "پاسخ‌های این پیام را ببند ✋",
            "data": "cmp,a,c,{{ channel_message_id }}"
        }
    ]
]