{#
    type: channel_message_preview
    senario: approved_closed
    kws: channel_message_id
#}
[
    [
        {
            "text": "پاسخ‌های این پیام را باز کن 👐",
            "data": "cmp,c,o,{{ channel_message_id }}"
        }
    ]
]