{#
    type: outgoing_answer
    senario: seen_accepted
    kws: answer_message_id
#}
[
    [
        {
            "text": "پاسخ‌های این پیام را ببند ✋",
            "data": "oa,a,c,{{ answer_message_id }}"
        }
    ]
]