{#
    type: outgoing_answer
    senario: seen_accepted_closed
    kws: answer_message_id
#}
[
    [
        {
            "text": "پاسخ‌های این پیام را باز کن 👐",
            "data": "oa,c,o,{{ answer_message_id }}"
        }
    ]
]