{#
    type: anonymous
    kws: emoji, bot_id, channel_message_id
#}
[
    [
        {
            "text": "به این ناشناس پاسخ بده {{ emoji }}",
            "url": "https://telegram.me/{{ bot_id }}?start={{ channel_message_id }}"
        }
    ]
]