{#
    state: home
    edge: main
    kws: user_status, channel_id
#}
سلام **{% if not user_status.is_veiled %}ناشناس{% else %}{{ user_status.veil }}{% endif %}**! 🍃

به بات کانال ناشناس ناری خوش آمدی. پیامت رو به صورت ناشناس در این بات ثبت کن. پیام‌ها بعد از تایید و بازبینی ادمین، در کانال قرار می‌گیرن. نه ادمین و نه سایر اعضای کانال از هویت فرستنده‌ی پیام باخبر نمی‌شن.

پیام‌هات رو می‌تونی با دو اسم بفرستی: اسم پیش‌فرض **ناشناس**، و یا اسمی که از منوی **نقاب 👹** انتخاب می‌کنی. نقابی که برمی‌گزینی قابلیت تغییر نداره، پس توی انتخابش دقت کن! از توی منو می‌تونی بین این دو اسم جابجا بشی.

برای استفاده از بات لازمه در کانال @{{ channel_id }} عضو باشی.