{#
    state: ban_menu
    edge: main
    kws: 
#}
به منوی بن خوش آمدی! این منو با دستور کار می‌کنه. دستور‌های موجود در پایین فهرست شدن:

1. ban <user_id>: این دستور، کاربر با شماره‌ی داده‌شده رو بن می‌کنه.
مثال استفاده: ban 15

2. unban <user_id>: این دستور، کاربر با شماره‌ی داده‌شده رو، اگه بن باشه، آزاد می‌کنه.
مثال استفاده: unban 3

3. list: این دستور، فهرست همه‌ی کاربرهای بن‌شده رو خروجی می‌ده.
مثال استفاده: list