{#
    type: outgoing_reply
    senario: sent_not_seen
    kws: user_status, message
#}
[پیام تو] **{% if not user_status.is_veiled %}ناشناس{% else %}{{ user_status.veil }}{% endif %}**:

{{ message }}

وضعیت پیام: دیده‌نشده 💤