{#
    type: incoming_reply
    senario: opened
    kws: peer_message_id
#}
[
    [
        {
            "text": "پاسخ 🏓",
            "data": "ir,o,a,{{ peer_message_id }}"
        }
    ],
    [
        {
            "text": "بلاک 🚫",
            "data": "ir,o,b,{{ peer_message_id }}"
        },
        {
            "text": "گزارش 🖊",
            "data": "ir,o,r,{{ peer_message_id }}"
        }
    ]
]