{#
    type: incoming_reply
    senario: opened_blocked
    kws: peer_message_id
#}
[
    [
        {
            "text": "آنبلاک 🚫",
            "data": "ir,b,u,{{ peer_message_id }}"
        }
    ]
]