{#
    type: answer
    kws: emoji, bot_id, answer_message_id
#}
[
    [
        {
            "text": "به این پیام ناشناس پاسخ بده {{ emoji }}",
            "url": "https://telegram.me/{{ bot_id }}?start=a{{ answer_message_id }}"
        }
    ]
]