{#
    type: incoming_answer
    senario: accepted
    kws: answer_message_id
#}
[
    [
        {
            "text": "از کامنت حذف کن 🚮",
            "data": "ia,a,d,{{ answer_message_id }}"
        }
    ]
]