{#
    type: incoming_answer
    senario: opened_blocked
    kws: answer_message_id
#}
[
    [
        {
            "text": "آنبلاک 🚫",
            "data": "ia,b,u,{{ answer_message_id }}"
        }
    ]
]