{#
    state: veil_menu
    edge: main
    kws: 
#}
به منوی نقاب خوش آمدی! این منو با دستور کار می‌کنه. دستور‌های موجود در پایین فهرست شدن:

1. veil craft <category> <veil>: نقابی جدید می‌سازه.
مثال استفاده: veil craft feminine «ناردون»

2. veil modify <old_veil> to <new_veil>: اسم نقاب رو تغییر می‌ده.
مثال استفاده: veil modify «ناریا» to «ناردون»

3. veil destroy <veil>: نقابی رو حذف می‌کنه.
مثال استفاده: veil destroy «فلفل‌نمکی»

4. veil reserve <veil>: نقابی رو رزرو می‌کنه.
مثال استفاده: veil reserve «گل نسترن»

5. veil free <veil>: نقابی رو از رزرو خارج می‌کنه.
مثال استفاده: veil free «گل نسترن»

6. veil gift <veil> to <user_id>: نقابی رو به کاربر مشخص‌شده می‌ده.
مثال استفاده: veil gift «گل نسترن» to 123

7. ticket gift <user_id>: بلیط انتخاب نقاب به کاربر می‌ده.
مثال استفاده: ticket gift 123

8. ticket giveaway <number_of_tickets>: تعدادی بلیط به کاربرهای فعال هدیه می‌ده.
مثال استفاده: ticket giveaway 10