{#
    state: admin_home
    kws: button_messages
#}
[
    [
        "{{ button_messages['admin_home']['refresh'] }}", 
        "{{ button_messages['admin_home']['pending_list'] }}"
    ],
    [
        "{{ button_messages['admin_home']['show_report'] }}"
    ],
    [
        "{{ button_messages['admin_home']['ban_menu'] }}",
        "{{ button_messages['admin_home']['veil_menu'] }}"
    ],
    [
        "{{ button_messages['admin_home']['exit'] }}"
    ]
]