{#
    state: home
    kws: button_messages, user_status
#}
[
    [
        "{{ button_messages['home']['send_public'] }}",
        "{{ button_messages['home']['send_anonymous'] }}"
    ],
    [
        "{{ button_messages['home']['my_veils'] }}",
        "{{ button_messages['home']['unblock_all'] }}"
    ],
    [
        "{{ button_messages['home']['talk_to_admin'] }}"
    ]
]