{#
    state: message_review
    kws: button_messages
#}
[
    [
        "{{ button_messages['message_review']['accept'] }}", 
        "{{ button_messages['message_review']['reject'] }}"
    ],
    [
        "{{ button_messages['message_review']['back'] }}"
    ]
]