{#
    state: pending_list
    edge: main
    kws: current_page, total_page, preview_length, messages
#}
{% if messages | length == 0 %}
هیچ پیامی نیست!
{% else %}
صفحه‌ی {{ current_page }} از {{ total_page }}:

{% for message in messages %}
[پیام شماره‌ی {{ message.channel_message_id }}{% if message.media != None %} 🎥{% endif %}{% if message.from_user_veil != None %} 👹{% endif %}]
**{% if not message.from_user_veil %}ناشناس{% else %}{{ message.from_user_veil }}{% endif %}** (کاربر {{ message.from_user }})
{% if message.message | length > preview_length %}
{{ message.message[0:preview_length] }}...
{% else %}
{{ message.message }}
{% endif %}
{% if not loop.last %}

{% endif %}
{% endfor %}
{% endif%}