{#
    type: incoming_reply
    senario: opened
    kws: message
#}
[پیام دیگری] **{% if not message.from_user_veil %}ناشناس{% else %}{{ message.from_user_veil }}{% endif %}**
{% if message.message != '' %}

{{ message.message }}
{% endif %}